<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <clear />

    <add name="db" providerName="System.Data.SqlServer" connectionString="Server=sqlserver; Database=SqlServerHelpers; User ID=SqlServerHelpersUser; pwd=wow_much_security" />
  </connectionStrings>
</configuration>